.button {
  background-color: #382f5a;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  color: white;
  width: 15vw;
  padding: 10px;
}
.item {
  list-style-type: none;
  width: 150px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  /* padding-left: 20px; */
}
